{% extends "accounts/base.html" %}
{% block content %}

<style>
    .carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('https://i.imgur.com/epLPesw.jpg')">

        </div>
          <div class="carousel-item " style="background-image: url('https://imgur.com/XVsBvtM.jpg')">
        </div>
        <div class="carousel-item " style="background-image: url('https://i.imgur.com/MInfdKH.jpg')">

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="display-4">Money saved is money earned.</h2>
            <p class="lead">We help you find the right thing at the right price.</p>
            <p>Become an intelligent shopper today.</p>
        </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-4">About us</h2>
        <p class="lead">Get My Gadget is all about getting you the gadgets you love at their best prices.</p>
        <p class="lead">We search over thousands of products and get you the best price for your desired gadget.</p>
        <p>Trending products are collected from a wide range of market websites.</p>
    </div>

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="display-4">Social</h2>
            <p><b>Twitter:</b> twitter.com/getmygadget</p>
            <p><b>Github:</b> github.com/getmygadget</p>
        </div>

{% endblock content %}